extends ./_base/_layout

block vars
  include ./_base/_settings
  - let key = "top"
  - let page = pages[key]
  - let imgpath = '/_assets/images/'

block contents
  include ../html/_main.html
  .container
    h1 各ページへのリンク
    ul.links
      li: a(href="/kurukuru/") くるくる
      li: a(href="/kurukuru2/") くるくる2
      li: a(href="/svg/") SVGアニメーション
      li: a(href="/svg2/") SVGマスク
      li: a(href="/aos/") AOS
      li: a(href="/webanimation/") Web Animation API
      li: a(href="/intersection/") Intersection Observer
      li: a(href="/naname/") 斜めのアニメーション
      li: a(href="/circle/") 円形配置
