@charset "utf-8";

// Settings
// @forward "settings/variables";
// @forward "settings/mixins";

// // Plugins
// @forward "~html5-reset";
// // @forward "~normalize.css";
// // @forward "~sanitize.css";

// // Base
// @forward "base/default";

// // Components
// @forward "components/components";
// @forward "components/utils";
// @forward "components/extend";

// Layouts
// @forward "layouts/header";
// @forward "layouts/main";
// @forward "layouts/footer";

// Pages
// @forward "pages/index";

@forward "area/result";
