extends ../_base/_layout

block vars
  include ../_base/_settings
  - let key = "results"
  - let page = pages[key]
  - let imgpath = '/_assets/images/'

block contents
  results-point.results-point
  results-percent.results-percent
  //- include ../../html/_results.html

