@use "../settings/mixins" as *;
@use "../settings/variables" as *;
@use "../components/extend" as *;
@use 'sass:math';

////////////////////////////////////////////////////
// ShadowDOM外でスタイルを指定するパターン
// （ここに記載されているスタイルを含むfv.cssはindex.htmlの方で読み込んでおり、shadowdomではimportしていない）
// 参考URL  https://qiita.com/suin/items/72b85e7d4465719aa4e8
//
// 【変更点】
// ①jsでは、コンポーネントにて
//    <p class="message">Are you ready?</p>
// みたいにclassで指定したところを
//    <p part="message">Are you ready?</p>
// のようにpartで指定すること
//
// ②CSSでは
//    .message{・・・)
// と普通にクラスに対する装飾としていたところを
//    ::part(message){・・・}
// のように::part( )の記載に変える
////////////////////////////////////////////////////

::part(fvContainer) {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

::part(theme) {
  padding: 0 1em;
  font-size: 1.6rem;
  letter-spacing: 0;
  color: $color01;
}
::part(message) {
  margin-top: 1.7em;
  padding: 0 1em;
  font-size: 3.6rem;
  letter-spacing: .2em;
}
::part(okBtn) {
  display: inline-block;
  margin-top: 4.5em;
  padding: .5em 2.3em;
  font-size: 1.6rem;
  cursor: pointer;
  transition: .2s;
  letter-spacing: .2em;
  color: #fff;
  background: $color02;
  &:hover {
    background: $color01;
  }
}
