-
  pages = {
    top: {
      title       : 'アニメーション用',
      sitename    : '',
      description : '',
      keywords    : '',
      url         : '',
      ogp         : '',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    },
    page1: {
      title       : '',
      sitename    : '',
      description : '',
      keywords    : '',
      url         : '',
      ogp         : '',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    },
    kurukuru: {
      title       : '',
      sitename    : '',
      description : '',
      keywords    : '',
      url         : '',
      ogp         : '',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    },
    kurukuru2: {
      title       : '',
      sitename    : '',
      description : '',
      keywords    : '',
      url         : '',
      ogp         : '',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    }
  }
