-
  pages = {
    top: {
      title       : 'EG e-learning',
      sitename    : '',
      description : '',
      keywords    : '',
      url         : '',
      ogp         : '',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    },
    about: {
      title       : '',
      sitename    : '',
      description : '',
      keywords    : '',
      url         : '',
      ogp         : '',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    }
  }
