extends ../_base/_layout

block vars
  include ../_base/_settings
  - let key = "kurukuru"
  - let page = pages[key]
  - let imgpath = '/_assets/images/'

block contents
  include ../../html/_kurukuru/_index.html
