@use "../settings/mixins" as *;
@use "../settings/variables" as *;
@use "../components/extend" as *;
@use 'sass:math';

.links {
  margin-top: 2em;
  li {
    + li {
      margin-top: 1em;
    }
  }
  a {
    display: inline-block;
    color: #555;
  }
}

.footerBtn {
  padding: 2em;
  letter-spacing: 0.05em;
  text-align: right;
  font-size: 1.2rem;
  a {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border: 1px solid #555;
    border-radius: 2px;
    color: #555;
    transition: .3s;
    &:hover {
      color: #fff;
      background: #555;
    }
  }
}
