@use "../settings/mixins" as *;
@use "../settings/variables" as *;
@use "../components/extend" as *;
@use 'sass:math';

.fvContainer {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.theme {
  padding: 0 1em;
  font-size: 1.6rem;
  letter-spacing: 0;
  color: $color01;
}
.message {
  margin-top: 1.7em;
  padding: 0 1em;
  font-size: 3.6rem;
  letter-spacing: .2em;
}
.okBtn {
  display: inline-block;
  margin-top: 4.5em;
  padding: .5em 3em;
  font-family: $fontNo;
  font-size: 1.6rem;
  cursor: pointer;
  transition: .2s;
  letter-spacing: .2em;
  color: $colorText;
  border: 1px solid $colorText;
  &:hover {
    color: $color01;
    border: 1px solid $color01;
  }
}
