-
  pages = {
    top: {
      title       : '動的コンテンツで遊ぼうぜ',
      sitename    : '',
      description : '',
      keywords    : '',
      url         : '',
      ogp         : '',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    },
    questionnaire: {
      title       : 'アンケート',
      sitename    : '',
      description : '',
      keywords    : '',
      url         : '',
      ogp         : '',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    },
    results: {
      title       : '結果まとめ',
      sitename    : '',
      description : '',
      keywords    : '',
      url         : '',
      ogp         : '',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    }
  }
